
@import url("/styles/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');


:root {
    --primary-color: #93c5fd;
    --text-color: #000;
}

body {
    font-family: 'Raleway', sans-serif;
}

.header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

.d-flex {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

.mr-1 {
    margin-right: 1rem;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline-block;
    padding: 0 .875rem;
}

.link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: 1px;
}

.cursor:hover {
    opacity: .5;
}