@import url("/styles/reset.css");
@import url("/styles/utility.css");


.btn-container {
    margin: 2rem;
}


.button {
    font-size: 1.2rem;
    padding: .5rem 1.5rem;
    border: none;
    border-radius: .25rem;
    background: transparent;
}

.cursor:hover {
    cursor: pointer;
    opacity: .85;
}

.btn-primary {
    background: var(--primary-color);
    color: var(--text-color-secondary);
    font-weight: 700;
}

.btn-secondary {
    background: var(--secondary-color);
    color: var(--text-color-primary);
    font-weight: 700;
}


.btn-success {
    background: var(--success);
    color: var(--text-color-primary);
    font-weight: 700;
}

.btn-error {
    background: var(--error);
    color: var(--text-color-primary);
    font-weight: 700;
}

.btn-warning {
    background: var(--warning);
    color: var(--text-color-primary);
    font-weight: 700;
}


.btn-outline-primary {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    font-weight: 700;
}

.btn-outline-secondary {
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    font-weight: 700;
}

.btn-outline-success {
    color: var(--success);
    border: 2px solid var(--success);
    font-weight: 700;
}

.btn-outline-error {
    color: var(--error);
    border: 2px solid var(--error);
    font-weight: 700;
}

.btn-outline-warning {
    color: var(--warning);
    border: 2px solid var(--warning);
    font-weight: 700;
}

.btn-disable {
    background: var(--btn-disable-color);
}

.link-primary {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color); 
}

.link-primary:hover{
    color: var(--primary-color);
}

.link-secondary {
    text-decoration: none;
    color: var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
}

.link-secondary:hover {
    opacity: .8;
}


.btn-float {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 3rem;
}



