@import url("/styles/reset.css");
@import url("/styles/utility.css");


.avatar-container {
    margin: 2rem;
}


.avatar {
    border-radius: 50%;
}


.avatar-large-size {
    width: 8rem;
    height: 8rem;
    font-size: 3rem;
}

.avatar-medium-size {
    width: 5rem;
    height: 5rem;
    font-size: 1.5rem;
}

.avatar-small-size {
    width: 3rem;
    height: 3rem;
    font-size: .875rem;
}

.avatar-image-round {
    width: 100%;
    border-radius: 50%;
}

.avatar-text {
    background-color: var(--primary-color);
    color: var(--text-color-secondary);
    font-weight: 700;
}

