@import url("/styles/reset.css");
@import url("/styles/utility.css");

.container {
    margin: 2rem;
}


.alert {
    padding: .75rem 1rem;
    border-radius: .5rem;
    width: max-content;
}

.alert-success {
    background-color: var(--success);
}

.alert-error {
    background-color: var(--error);
}

.alert-warning {
    background-color: var(--warning);
}

.alert-info {
    background-color: var(--info);
}

.pd-3 {
    padding: 3px;
}

.br-5 {
    border-radius: 5px;
}